In [3]:
name = 'Rahul'

In [4]:
print(name.title())

Rahul

In [5]:
fullname = 'RAHUL GAIKAWAD'

In [6]:

print(fullname)

RAHUL GAIKAWAD

In [7]:
print(fullname.upper())

RAHUL GAIKAWAD

In [8]:
print(fullname.lower())

rahul gaikawad

In [11]:

firstname = "rahul"
lastname ="kumar"
sentence = f"{firstname.title()} {lastname.title()}"
print(sentence)

Rahul Kumar

In [13]:
print('fav_sub','C++','java','python','oracle')

fav_sub C++ java python oracle

In [14]:
print('fav_sub\n','c\n','c++\n','oops\n','java\n','javascript\n','python\n','oracle\n')

fav_sub
 c
 c++
 oops
 java
 javascript
 python
 oracle

In [15]:
print('fav_sub\n','c\n','c++\n','oops\n\t','java\n\t','javascript\n','python\n','oracle\n')

fav_sub
 c
 c++
 oops
	 java
	 javascript
 python
 oracle

In [16]:
print ('fev_sub' , '\nmath' ' \nc ' , '\n\tC++  ' , '\n\t\tOpp' , ' \n java ' , ' \n\t javasript' , '\n python ' , '\n Oracle ')

fev_sub
math
c
	C++
		Opp
 java
	 javasript
 python
 Oracle

In [17]:
name = 'raj'

In [20]:
print(name)

raj

In [21]:
name1 = '     raj'

In [22]:
print(name1)

     raj

In [23]:
name1.lstrip()

'raj'

In [24]:
name_me = '    sam    '

In [25]:
print(name_me)

    sam

In [26]:
name_me.rstrip()

'    sam'

In [27]:
name_me.strip()

'sam'

In [28]:
# Introduction to List data type

# def: a list is a collection of items in a particular order

# classification : mutable datatype

# List datatype --- []

In [29]:
students = ['ram','rahul','neel','khushal','harshal','krishna','priyan']

In [30]:
print(students)

['ram', 'rahul', 'neel', 'khushal', 'harshal', 'krishna', 'priyanka']

In [31]:
type(students)

list

In [32]:
# What is Indexing???

'ram','rahul','neel','khushal','harshal','krishna','priyanka'

('ram', 'rahul', 'neel', 'khushal', 'harshal', 'krishna', 'priyanka')

In [ ]:
0,1,2,3,4,5,6,7,......

In [34]:
print(students[1])
print(students[3])
print(students[6])
print(students[9])

rahul
khushal
priyanka

IndexError: list index out of range

In [35]:
print(students[2].title())

Neel

In [ ]:
sr. No.
1  - ram  - 0
2  - raj  - 1
3  - neel - 2
4  - ali - 3
5  - nikku - 4
6  - sam - 5 
7  - anita - 6
8  - munna - 7
9  - dell - 8
10 - apple - 9

In [38]:
# How to add a new element to the list?
# How to modify the element in the list?
# How to delete the element in the list?
# How to add a new element to the list?

In [39]:
students = ['ram','chitra','neel','khushal','harsha','krishna','prajakta']

In [40]:
# Req: i want to add raju to this list

In [41]:
students.append('raju')
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta', 'raju']

In [42]:
students.insert(2, 'rohit')

In [43]:
print(students)

['ram', 'chitra', 'rohit', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta', 'raju']

In [44]:
print(students[6])

krishna

In [45]:

# How to modify the element in the list?

In [46]:
students[1] = 'sachin'

In [47]:
print(students)

['ram', 'sachin', 'rohit', 'neel', 'khushal', 'harsha', 'krishna', 'prajakta', 'raju']

In [48]:
# How to delete the element in the list?

del students[4]

In [49]:
print(students)

['ram', 'sachin', 'rohit', 'neel', 'harsha', 'krishna', 'prajakta', 'raju']

In [50]:
list=['pune','nashik','mumbai','dhule','delhi','noida','bhopal','indore','shirpur','nagpur']

In [54]:
list.append('surat')

In [52]:
print(list)

['pune', 'nashik', 'mumbai', 'dhule', 'delhi', 'noida', 'bhopal', 'indore', 'shirpur', 'nagpur', 'surat']

In [55]:
list.append('surat')

In [56]:
print(list)

['pune', 'nashik', 'mumbai', 'dhule', 'delhi', 'noida', 'bhopal', 'indore', 'shirpur', 'nagpur', 'surat', 'surat', 'surat', 'surat']

In [57]:
a=['raj','ram','jay']

In [58]:
print(a)

['raj', 'ram', 'jay']

In [59]:
a[2]='viruu'
a.append('hari')

In [60]:
print(a)

['raj', 'ram', 'viruu', 'hari']

In [61]:
a.insert(3,'harshal')

In [62]:
print(a)

['raj', 'ram', 'viruu', 'harshal', 'hari']