In [2]:
print("hello world")

hello world

In [3]:
a=4
b=5
a+b

9

In [6]:
firstname="Rahul"
print(firstname)

Rahul

In [12]:
name1="Rahul"
print(name1)

Rahul

In [1]:
name='''Rahul'''
print("name")

name

In [ ]:
string----str
Integer----int
Floats-----float
List-------list
Tuple-----tuple
Dictionary-----dict

In [6]:
yy = 2021 # year mm = 3 # month


import calendar

yy = 2014  # year
mm = 11    # month
print(calendar.month(yy, mm))

   November 2014
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [2]:
fullname = '  RAHUL GAIKAWAD  '
fullname.strip()

'RAHUL GAIKAWAD'

In [3]:
full = 'rahul'
last ='gaikawad'
sentence = f'hello my name is {full} {last}'
print(sentence)

hello my name is rahul gaikawad

In [5]:
print('my\n\t''name\n\t\t''is\n\t\t''Rahul\n\t\t\t\t''Gaikawad\n')

my
	name
		is
		Rahul
				Gaikawad

In [8]:
# let us fin the value of "pi"

import math

In [9]:
print("the value of pi is", math.pi)

the value of pi is 3.141592653589793

In [11]:
# Example 1: Add Two Numbers

num1 = 37.69
num2 = 17.73

sum = num1 + num2

print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 37.69 and 17.73 is 55.42

In [12]:
print(sum)

55.42

In [1]:
# Example 2: Add Two Numbers With User Input

num1 = input('enter first number: ')
num2 = input('enter second numbar: ')
num3 = input('enter third numbar: ')

sum = float(num1) + float(num2) + float(num3)

print(sum)

enter first number: 3
enter second numbar: 4
enter third numbar: 5
12.0

In [2]:
print('The sum is %.1f' %(float(input('Enter first number: ')) + float(input('Enter second number: '))))

Enter first number: 4
Enter second number: 5
The sum is 9.0

In [3]:
a = (input('Enter first number: '))
b = (input('Enter second number: '))
if (a>b) : 
    print('a is greater than b')
elif (b>a) :
    print('b is greater than a')
else :
    print('both equal')

Enter first number: 55
Enter second number: 34
a is greater than b